@font-face {
    src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-family: "poppins";
  }


  @font-face {
    src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-family: "poppinsL";
  }


* {
    margin: 0;
}

:root {
  --light-grey: #d3cdc3;
}

body {
    font-family: 'poppins';
    background: linear-gradient(to right, #EEF0F2, #CFCFEA);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: scroll;
}

.logo {
    /*background: linear-gradient(to right, #EEF0F2, #CFCFEA);*/
    background: linear-gradient(to right, #EEF0F2, #CFCFEA);
    color: #E09145 ;
    padding: 30px;
    left: 0;
    margin-bottom: -50px;
    font-family: "poppinsL";
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*background: linear-gradient(to right, #EEF0F2, #CFCFEA);*/
<<<<<<< HEAD
    background: linear-gradient(to right, #EEF0F2, #CFCFEA);
    padding: 10px;
=======
    background:linear-gradient(to right,#383D3B , #222823 );
    padding: 5px;
>>>>>>> 8700228fadd7dc1d012514dc7194ec11eeb725df
}
nav a:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

nav a {
    color: #E09145 ;
  
    text-decoration: none;
    margin: 0 50px;
    padding: 1px;
    font-size: 20px;
    font-family: 'poppins';
}

footer {
    /* background: linear-gradient(to right, #EEF0F2, #CFCFEA); */
    background: linear-gradient(to right, #EEF0F2, #CFCFEA);
     color: #E09145;
     text-align: center;
     padding: 10px;
     position: relative;
     bottom: 0;
     width: 100%;
     font-family: "poppinsL";
 }

#language-switch {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    border: none;
    color: #E09145 ;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'poppins';
}

#language-switch:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

#language-switch::after {
    content: '\25BC'; 
    font-size: 12px;
}

.hero {
    background-size: cover;
    background-position: center;
    color: #E09145 ;
    text-align: center;
    font-size: 30px;
    padding: 100px 50px;
    background-attachment: fixed;
    font-family: "poppinsL";
}




.about-me {
    background-image: url("./assets/img/wall3.avif");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: 'poppins';
}

.about-me:hover {
    mix-blend-mode:color-dodge;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 50px #fff;
}

.about-me h3 {
color: #fff;
font-size: 20px;
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: 1;
}

.about-me p {
color: #fff;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: 1;
}

.about-me:hover h3 {
    display: none;
}

.about-me p:hover {
font-size: 23px;
color: #fff;
text-shadow: 0 0 20px #17181D, 0 0 30px #17181D, 0 0 50px #17181D;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: 1;
}


.carousel {
    width: 100%;
    margin: auto;
    overflow: hidden;
     margin-bottom: 20px;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 110%;
    font-size: 50px;
    color: #fff;
    transition: 0.3s;
    transform: translateY(-50%);
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .prev:hover, .next:hover {
    color: #E09145;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }



.parallax-bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-top: 60px;
    font-family: 'poppins';
}


.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    text-align: center;
    z-index: 1;
}
